* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
.fa-heart {
    font-size: 22px;
}
.fa-person {
    font-size: 22px;
}
.fa-money-bill-wave {
    font-size: 22px;
}
.fa-fire {
    font-size: 22px;
}
.fa-chart-line {
    font-size: 22px;
}
.fa-magnifying-glass {
    color: white;
    font-size: 17px;
}
.grey-star {
    color: #F2F2F2;
}
body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.Hébergements-cards{
    background-color: white;
    border-radius: 20px;
    padding:15px;
    gap: 4px;
    filter:drop-shadow(0px 3px 15px 0px #0000001A);
    ;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 17px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display:flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    flex-direction: column;
    display: flex;
    width: 65%;
    gap: 30px;
    padding: 30px;
}
.div-hotel a {
    width: 31%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.div-hotel {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.Hebergements-cards img {
    width: 98%;
    height: 124px;
    display: flex;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid white;
    object-fit: cover;
}
.Hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.Hebergements-cards .card-subtitle {
    margin: 0px;
}
.Hebergements-cards .card-rating {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.card-h {
    height: auto;
}
.card-h-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-txt {
    padding-left: 10px;
    display: flex;
flex-direction: column;
}
.afficher-plus {
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Populaires ***********/

/****** Activités ***********/

.activite-cards a {   
    width: 20%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 439px;
    margin-right: 30px;
}
.activite-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activite-title {
    margin-top: 50px;
}

.activite-cards {
    display: flex;
    justify-content: space-between;
}
/****** Activités ***********/
#logo {
    position: relative;
    width: 61px;
    height: 19px;
  margin-top: 30px;
}

header {
    display: flex;
    justify-content: space-between;
}
nav {   
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}
nav a {
    color: black; /* Couleur du texte par défaut */
    text-decoration: none; /* Supprimer le soulignement du lien */
    border-top: 2px solid transparent; /* Bordure transparente par défaut */
    padding-top: 10px;
}

nav a:hover, 
nav a:active {
    color:#0065FC;
    border-top-color: blue; /* Couleur de la bordure bleue uniquement lors du survol ou du clic */
}
.presentation {
    margin-top: 80px;
}
h2 {
    font-weight:normal;
    font-size:20px
}
.searchbar {
    margin-top: 20px;
    display:inline-flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #F2F2F2
  }
  form {
    display: flex;
  }
  .loupe-phone {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  button {
    padding: 15px 16px;
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
    font-size: large;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }
  .searchbar .group {
    position: relative;
    width: 50px;
    height: 49px;
  }
  .point {
    width: 52px;
    height: 52px;
  }
  .searchbar .overlap-group {
    position: relative;
    width: 52px;
    height: 51px;
    top: -2px;
    left: -2px;
    background-color: lightgray;
    border-radius: 15px 0px 0px 15px;
    border-color: lightgray;
  }
  
  .searchbar .text-searchbar {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 18px;
    text-align: center;
    border: 0px;
  }
.searchbar .text-searchbar::placeholder {
    font-weight: bold;
    color: black;
}
.searchbar .text-searchbar:focus {
    outline: 0px;
}


  .searchbar .button-search {
    position: relative;
    flex: 0 0 auto;
    height: 51px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
  }

.filter-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}
.filter-item {
    display: flex;
    margin-right: 20px;
}

.filter-box {
    text-align: center;
    align-items: center;
    display: flex;
    padding-right: 15px ;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    gap: 10px;
    transition: background-color 0.3s;
}
.filter-box:hover,
.filter-box:active {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter-item span {
    font-size: 16px;
    font-weight: bold;
}
.Text-filtres {
    font-size: large;
    font-weight: bolder;
    margin-right: 25px;
}
.family {width: 22px;
    height: 22px;
    margin-left: 17px;
    
}
.price {
    width: 22px;
    height: 22px;
    margin-left: 20px;
}
.heart {
    width: 22px;
    height: 22px;
    margin-left: 20px;
}
.fire {
    width: 22px;
    height: 22px;
    margin-left: 20px;
}
.boite-info {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.info {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50px;
}
.text-info {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 5px;
}
footer {
    margin-top: 30px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
}

footer .div-foot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
footer .titre-footer {
    position: relative;
    width: fit-content;
    font-weight: bold;
}

footer .text-footer {
    position: relative;
    width: fit-content;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements-and-populaires {
        flex-direction: column;
      }
      
      .populaires {
        margin-top: 32px; /* Add some margin to create space between the two sections */
      }
    .hebergements {
        width: 100%;
    }
  
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .filter-bar {
        display: flex;
        flex-wrap: wrap;
      }
      
      .Text-filtres {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
      }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-cards a {
        height:auto;
    }
    .activite-cards img {
        height: 200px;
    } 
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
        align-items: center;
      }
      nav {
        width: 100%;
        margin-top: 30px;
        gap: 0px;
      }
      nav a {
        width: 50%;
        margin: 8px 0;
        text-align: center;
      }

      .presentation {
        h1, h2 {
          text-align: left;
        }
        padding-left: 15px;
        padding-right: 15px;
      }
      .searchbar {
        margin-left: 15px;
        margin-right: 15px;
      }
      .Text-filtres {
        width: 100%;}

        nav a {
            border-top: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 15px;
        }

        nav a:hover, nav a:active {
            color: #0065FC;
            border-bottom-color: blue;
        }
      
      .filter-box {
        width: 100%;
        margin-bottom: 20px;
      }
      .hebergements-and-populaires  {
        flex-direction: column-reverse;
        gap: 30px;
      }
      .hebergements-and-populaires section {
        border-radius: 0px;
      }
      .hebergements-and-populaires .hebergements {
        background-color: white;
      }
      .searchbar .text-searchbar {
        width: 80%;
        margin-bottom: 8px;
        font-size: 16px;
      }

      .filter-bar {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .filter-item {
        width: 49%;
        margin-right: 0px;
      }
      .filter-item span {
        font-size: 14px;
      }
      .info {
        margin-right: 8px;
      }
      .populaires-cards {
        flex-wrap: wrap;
      }
      .populaires-cards a {
        width: 100%;
      }
      .div-hotel a {
        width: 100%;
      }
      .div-hotel {
        flex-wrap: wrap;
        margin-bottom: 0px;
      }
      .activite-cards {
        flex-wrap: wrap;
        gap: 20px;
      }
      .activite-cards a {
        width: 100%;}

      .button-large{
        display: none;
      }
      footer  { 
        flex-direction: column;
        width: 100%;
        justify-content: left;
      }
      .main-container {
        padding: 0px;
      }
      .activite {
        padding-left: 15px;
        padding-right: 15px;
      }
      .boite-info {
        margin-bottom: 0px
      }
    }
      @media (min-width: 767.98px) {
        .loupe-phone {
            display: none;
        }
      }
